@font-face {
    font-family: myFont;
    src: url(../Fonts/AnekMalayalam.ttf);
}
* {
    font-family: myFont;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header{
    display: block;
    top: 0;
    left: 0;
    background-image: linear-gradient(155deg, #620DEC, #391D54);
    width: 100vw;
    border-bottom-style: solid;
    border-width: 3px;
    position: sticky;
}
.logo{
    display: block;
    height: 4vw;
    padding: 20px 10px ;
}
.background-img{
    display: block;
    opacity: 0.50;
    width: 100%;
    height: auto;
}
.background-wrapper{
    width: 100vw;
    background-color: #371A54;
    height: 100vh;
    position: fixed;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.authentication-block{
    border: 5px solid;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 20%;
    width: 60%;
    padding: 10px;
    background-color: rgba(55, 26, 84, 0.8);
    color: white;
    border-color: black;
}
a:link {
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}
  
a:visited {
  color: white;
}
  
a {
    color: white;
    border-color: #0088a9;
}