@font-face {
    font-family: myFont;
    src: url(../Fonts/AnekMalayalam.ttf);
}
* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: myFont;
}
@media (min-width: 950px) {
    header{
        position: fixed;
        z-index: 1000;
        display: flex;
        background-image: linear-gradient(155deg, #007abc, #391D54);
        width: 100%;
        border-bottom-style: solid;
        border-width: 3px;
    }
    header p{
        display: flex;
        margin-left: auto;
        margin-right: 10vw;
        color: white;
        align-items: center;
        text-align: center;
    }
    h1{
        font-size: 30px;
        margin-bottom: 10px;
    }
    p{
        font-size: 20px;
        color: white;
    }
    .logo{
        display: block;
        width: 15%;
        padding: 20px 10px ;
    }
    .background-wrapper-netflix{
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-color: black;
    }
    .background-wrapper-netflix img{
        display: block;
        width: 100%;
        height: auto;
        opacity: 0.3;
    }
    .search-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 70%;
        top: 50%;
    }
    .search-container{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid;
        border-radius: 3px;
        overflow: hidden;
        background-color: #920000;
        margin: 0 10px;
        width: 70%; 
        position: relative; 
    }
    .search-container::placeholder {
        color: white;
    }
    .search-input{
        background-color: #A80000;
        color: white;
        border: none;
        padding: 0.3vh 10px;
        width: 90%;
        outline: none;
    }
    .search-button{
        background-color: #830000;
        color:white;
        border: none;
        padding: 0.3vh 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .search-filters{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid;
        border-radius: 3px;
        overflow: hidden;
        background-color: #920000;
        margin: 0 10px;
        width: 7%;
    }
    .overlay-text{
        color:#fff;
        position: absolute;
        margin-top: 10%;
        top: 25%;
        right: 20%;
        left: 20%;
    }
    .wrapper{
        width: 100%;
        overflow-x: hidden;
    }
    .pages-buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: 5%;
        left:50%;
        transform: translate(-50%, -50%);
        width: 100%;
        font-size: 20px;
    }
    .button-list{
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .page-button{
        float: left;
        margin: 0 auto;
        text-align: center;
    }
    .pages-buttons-header{
        display: flex;
        align-items: center;
        font-size: 25px;
        visibility: hidden;
    }
    .page-button a{
        display: block;
        text-decoration: none;
        margin: 0vw 5vw;
        color: #fff;
        overflow-x: visible;
    }
    .central-text{
        position: absolute;
        display:flex;
        margin-top: 10%;
        left: 20%;
        right: 20%;
        top: 20%;
    }
    .netflix-shows-wrapper{
        display: flex;
        flex-direction: column;
        gap: 20px; 
        position: absolute;
        margin: 20px 40px;
    }
    .netflix-shows {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px; 
        margin: 20px 40px;
        justify-content: center;
    }
    .netflix-shows p{
        display: flex;
        color: white;
    }
    .n-show{
        width: 25%;
    }
    .n-show p{
        justify-content: center;
    }
    .n-info{
        width: 25%;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
    .n-info p{
        margin: 10px 0px;
    }
    .n-description{
        background-color: #042f61;
        border: 1px solid white;
        border-radius: 2%;
        box-shadow: 0px 4px 8px #0ca8c1;
        padding: 6px;
    }
    .n-description p{
        display: flex;
        color: white;
    }

    .show-card {
        border: 1px solid white;
        border-radius: 1%;
        flex: 1 1 calc(50% - 20px); 
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        margin: 10px 0px;
    }

    .show-card img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    .n-director-wrapper{
        display: flex;
        flex-direction: column;
    }
    .n-director{
        display: flex;
        flex-wrap: wrap;
        width: 20%;
        margin: 10px;
        justify-content: center;
    }
    .n-director p{
        font-size: 1em;
        overflow-wrap: break-word;
    }
    .n-director img{
        border-radius: 50%;
        border: 1px solid wheat;
    }
    .n-cast {
        display: flex;
        flex-wrap: wrap;
    }
    .cast-member{
        display: flex;
        flex-direction: column;
        width: 10%;
        flex: 0 0 calc(15% - 20px);
        margin: 10px;
        text-align: center;
    }
    .cast-member p{
        font-size: 1em;
        overflow-wrap: break-word;
    }
    .cast-member img{
        border-radius: 50%;
        border: 1px solid wheat;
    }
    .n-bonus-info{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50vh;
        margin: 5vh;
    }
    .n-bonus-info p{
        margin: 10px;
    }
}

@media (max-width: 950px) {
    header{
        position: fixed;
        z-index: 1000;
        display: flex;
        background-image: linear-gradient(155deg, #007abc, #391D54);
        width: 100%;
        border-bottom-style: solid;
        border-width: 3px;
    }
    header p{
        display: flex;
        margin-left: auto;
        margin-right: 10vw;
        color: white;
        align-items: center;
        text-align: center;
    }
    h1{
        font-size: 30px;
        margin-bottom: 10px;
    }
    p{
        font-size: 20px;
        color: white;
    }
    .logo{
        display: block;
        width: 15%;
        padding: 20px 10px ;
    }
    .background-wrapper-netflix{
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-color: black;
    }
    .background-wrapper-netflix img{
        display: block;
        width: 100%;
        height: auto;
        opacity: 0.3;
        margin-top: 20%;
    }
    .search-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 70%;
        top: 50%;
    }
    .search-container{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid;
        border-radius: 3px;
        overflow: hidden;
        background-color: #920000;
        margin: 0 10px;
        width: 70%;
        position: relative;
    }
    .search-container::placeholder {
        color: white;
    }
    .search-input{
        background-color: #A80000;
        color: white;
        border: none;
        padding: 0.3vh 10px;
        width: 90%;
        outline: none;
    }
    .search-button{
        background-color: #830000;
        color:white;
        border: none;
        padding: 0.3vh 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .search-filters{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid;
        border-radius: 3px;
        overflow: hidden;
        background-color: #920000;
        margin: 0 10px;
        width: 7%;
    }
    .overlay-text{
        color:#fff;
        position: absolute;
        margin-top: 10%;
        top: 25%;
        right: 20%;
        left: 20%;
    }
    .wrapper{
        width: 100%;
        overflow-x: hidden;
    }
    .pages-buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: 20%;
        left:50%;
        transform: translate(-50%, -50%);
        width: 100%;
        font-size: 20px;
    }
    .button-list{
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .page-button{
        float: left;
        margin: 0 auto;
        text-align: center;
    }
    .pages-buttons-header{
        display: flex;
        align-items: center;
        font-size: 25px;
        visibility: hidden;
    }
    .page-button a{
        display: block;
        text-decoration: none;
        margin: 0vw 5vw;
        color: #fff;
        overflow-x: visible;
    }
    .central-text{
        position: absolute;
        display:flex;
        margin-top: 10%;
        left: 20%;
        right: 20%;
        top: 20%;
    }
    .netflix-shows-wrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        margin: 20px 20px;
        width: 95%;
    }
    .netflix-shows {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        margin: 20px 20px;
    }
    .netflix-shows p{
        display: flex;
        color: white;
    }
    .n-show{
        width: 45%;
    }
    .n-show p{
        justify-content: center;
    }
    .n-info{
        width: 45%;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
    .n-info p{
        margin: 10px 0px;
    }
    .n-description{
        background-color: #042f61;
        border: 1px solid white;
        border-radius: 2%;
        box-shadow: 0px 4px 8px #0ca8c1;
        padding: 6px;
    }
    .n-description p{
        display: flex;
        color: white;
    }

    .show-card {
        border: 1px solid white;
        border-radius: 1%;
        flex: 1 1 calc(50% - 20px);
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        margin: 10px 0px;
    }

    .show-card img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    .n-director{
        display: flex;
        flex-wrap: wrap;
        width: 30%;
        margin: 10px;
        justify-content: center;
    }
    .n-director p{
        font-size: 1em;
        overflow-wrap: break-word;
    }
    .n-director img{
        border-radius: 50%;
        border: 1px solid wheat;
    }
    .n-cast {
        display: flex;
        flex-wrap: wrap;
    }
    .cast-member{
        display: flex;
        flex-direction: column;
        width: 10%;
        flex: 0 0 calc(25% - 20px);
        margin: 10px;
        text-align: center;
    }
    .cast-member p{
        font-size: 1em;
        overflow-wrap: break-word;
    }
    .cast-member img{
        border-radius: 50%;
        border: 1px solid wheat;
    }
    .n-bonus-info{
        display: flex;
        flex-direction: row;
    }
    .n-bonus-info p{
        margin: 10px;
    }
}

@media (min-width: 768px)  {
    .logo{
        display: block;
        width: 5%;
        padding: 20px 10px ;
    }
    .pages-buttons{
        visibility: hidden;
    }
    .pages-buttons-header{
        visibility: visible;
    }
}